@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    @apply bg-surface text-light-gray text-base;
  }
}

@layer components {
  .container {
    @apply px-6 py-8 flex flex-col;
  }

  .section {
    @apply px-6 py-6 flex flex-col gap-8;
  }

  .col {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }

  .title {
    @apply font-black text-[42px] leading-[58px];
  }

  .subtitle {
    @apply text-2xl font-semibold;
  }

  .card {
    @apply flex flex-col py-6 px-12  rounded-lg items-center justify-center gap-2 lg:px-0 lg:flex-1 lg:mx-auto lg:text-center;
    background: linear-gradient(110deg, #636363 0%, rgba(29, 36, 0, 0.53) 100%);
  }

  .card__title {
    @apply text-[80px] self-center lg:max-xl:text-7xl;
  }

  .card__description {
    @apply font-bold text-secondary h-10 lg:self-center lg:py-2;
  }

  .card img {
    @apply lg:max-xl:w-14 lg:max-xl:h-14 self-center;
  }

  .outline-card {
    @apply h-[364px] w-full border-4 rounded-lg col justify-center px-6;
  }

  .outline-title {
    @apply text-3xl font-bold;
  }

  .outline-description {
    @apply font-medium;
  }
}

.box-shadow-hire-button {
  box-shadow: 0px 8px 20px 0px rgba(242, 78, 112, 0.25);
}

.box-shadow-quotes {
  box-shadow: 0px 4px 10px 0px rgba(242, 242, 242, 0.49);
}

#navbar-btn-open {
  @apply hidden;
}

.navbar--open #navbar-menu {
  height: calc(100vh - 4.5rem);
}

.navbar--open #navbar-btn-open {
  @apply block;
}

.navbar--open #navbar-btn-close {
  @apply hidden;
}
